@use "./reset";
@use "./themes/dark.scss";
@use "./themes/normal.scss";
@use "./themes/green.scss";
@use "./variables/global.scss";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  min-height: 100vh;

  &__navbar {
    grid-column: 1 / 3;
  }
}