.app.dark {
  --bg-color: #0c0c5c;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #04ff04;
  --secondary-color: #049684;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #6797ff;

}