.app_green_theme {
  --bg-color: #EBFFEC;
  --inverted-bg-color: #2F7833;
  --primary-color: #649E3D;
  --secondary-color: #EBFFEC;
  --inverted-primary-color: #EBFFEC;
  --inverted-secondary-color: #bbd7bc;
}