.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0c0c5c;
  --primary-color: #0232c2;
  --secondary-color: #6797ff;
  --inverted-primary-color: #049684;
  --inverted-secondary-color: #04ff04;

    // Skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // Code
  --code-bg: #f4f4f4;

  // Card
  --card-bg: #d5d5d7;
}